

body{

    font-family: 'Poppins', sans-serif;

    margin: 0px;
}
h1{

    font-size: 50px;

   
}

.top-banner
{
    background-image: url("images/top-banner.png");

    background-repeat: no-repeat;
}

.name-highlight
{
    color : orange;
}
.half-width
{
    width:40%;
    float: left;

   padding-left :5%;

    
    

}
.half-width img{

    width:120%;

   
}

section
{
    height :500px;

    padding-bottom: 150px;

}

.link-button
{
    text-decoration: none;
    padding: 10px 20px ;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    border-radius: 10px;
    color :white;
   font-weight: 700;

}